* {
    border: solid red 1px;
    padding: 5px;
    /* font-family:'Courier New', Courier, monospace; */
}

/* BODY */
body {
    background-color: white;
    margin: 0px 100px;
}

/* HEADER  */


header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: white;
    background-color: #1F2937;

}

.header_logo {
    font-size: 24px;
}

.header_links {
    display: flex;
    gap: 15px;

}

a {
    text-decoration: none;
    color: white;
}


/* Sign Up  */

.sign_up {
    display: flex;
    background-color: #1F2937;
    align-content: stretch;
}

.sign_up_left_side {
    color: white;
}

.sign-button-one {
    padding: 5px 20px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    /* border: solid white 3px; */
    background-color: #3882F6;
    color: white;
}

.sign_up_right_side {
    min-height: 100px;
    min-width: 350px;
    margin: 0px 20px;
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content  */

.title_for_content {
    font-size: 25px;
    font-weight: 900;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container_for_content_images {
    display: flex;
    gap: 15px;
}

.container_for_image {
    width: 100px;
    height: 100px;
    border: solid blue;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext {
    text-align: center;

}


/* Quote  */

.quote {
    background-color: #E5E7EB;

}

.quote-text {
    font-size: 25px;
    font-style: italic;
    
}

.quote-author {
    font-weight: 900;
    text-align: end;
}



/* Footer  */

.sign_up_footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 30px 40px;
    align-items: center;
}

.sign_button_two {
    padding: 5px 20px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: solid white 3px;
    background-color: #3882F6;
    color: white;
}

/* Footer  */
footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 10px;
}